<head>
<meta charset="UTF-8">
</head> 
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-8o5d{background-color:#34ff34}
</style>
{% if competition %}
<table class="tg">
  <tr>
    <th class="tg-031e">Placering</th>
    <th class="tg-031e">Vikt</th>
    <th class="tg-031e">Klass</th>
    <th class="tg-031e">Förnamn</th>
    <th class="tg-031e">Efternamn</th>
    <th class="tg-031e">Klubb</th>
    <th class="tg-031e" colspan="3">Knäböj</th>
    <th class="tg-031e" colspan="3">Bänkpress</th>
    <th class="tg-031e" colspan="3">Marklyft</th>
    <th class="tg-031e">Totalt</th>
    <th class="tg-031e">Grupp</th>
  </tr>
    {% for lifter in competition.participants.all %}
  <tr>
    <td class="tg-031e">1</td>
    <td class="tg-031e">{{ lifter.weight }}</td>
    <td class="tg-031e">105</td>
    <td class="tg-031e">{{ lifter.name }}</td>
    <td class="tg-031e">{{ lifter.sur_name }}</td>
    <td class="tg-031e">{{ lifter.club }}</td>
    <td class="tg-8o5d">{{ lifter.lift1_attempt1 }}</td>
    <td class="tg-8o5d">{{ lifter.lift1_attempt2 }}</td>
    <td class="tg-8o5d">{{ lifter.lift1_attempt3 }}</td>
    <td class="tg-8o5d">{{ lifter.lift2_attempt1 }}</td>
    <td class="tg-8o5d">{{ lifter.lift2_attempt2 }}<br></td>
    <td class="tg-8o5d">{{ lifter.lift2_attempt3 }}</td>
    <td class="tg-8o5d">{{ lifter.lift3_attempt1 }}</td>
    <td class="tg-8o5d">{{ lifter.lift3_attempt2 }}</td>
    <td class="tg-8o5d">{{ lifter.lift3_attempt3 }}</td>
    <td class="tg-031e">715</td>
    <td class="tg-031e">1</td>
  </tr>
    {% endfor %}
</table>
{% else %}
    <p>No competitions are available.</p>
{% endif %}
